# IDE and Editor folders
.idea/
.vscode/
*.swp

# Python Cache and compiled files
__pycache__/
*.py[cod]
*$py.class

scrape_team_stats.py
scrape_squads.py
scrape_player_stats.py
badges_scraper.py

build_index.py

merge_season_events.py
merge_team_events.py
merge_season_players.py

cache
pl
fpl_cache